

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/css/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/css/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/css/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/css/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*--------------------------------------------------------------*/
body{
	overflow: hidden;
}

.left-menu {
	background-color: white;
	height: 100%;
	position: absolute;
	/*border-right: 1px solid black;*/
	padding: 0px;
    box-shadow: 10px 10px 5px #888888;
    background-color: aliceblue;
    z-index: 5;
}
}

.logo{ 
	border-bottom: 1px solid black;
}

.right-screen {
	background-color: white;
	height: 100%;
	position: absolute;
	margin-left: 25%;
	padding: 0px;
}

.img{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 41.66667%;
	padding-right: 20px;
	max-height: 75px;
	min-height: 75px;
}

.menu{
	margin: auto;
}

#menu{
	display: block;
	overflow-y: scroll;
}

.logo {
	border-bottom: 3px solid #ddd;
}

.settings{
	position: absolute;
	bottom: 0px;
	border-top: 3px solid #ddd;
	width: -moz-available;
	background-color: aliceblue;
}

.currentMonkey{
	position: absolute;
	bottom: 0px;
	border-top: 1px solid black;
	width: 33.33333%;
}

.button i.material-icons{
	font-size: 12px;
}

.container{
	/*border: 2px solid black;*/
	margin: 5% 100px 0px 100px;
	max-height: 650px;
	min-height: 100px;
	overflow-y: scroll;
	box-shadow: 10px 10px 5px #888888;
    background-color: aliceblue;
}

.vertical.menu:last-child{
	height: 200px;
	background-color: aliceblue;
}

.content{
	height: 100%;
}

.right{
    float: right;
    margin-right: 30px;
}

.border_bottom{
	border-bottom: 1px solid black;
}

.border_top{
	border-top: 1px solid black;
	position: absolute;
	bottom: 0px;
}

.sub-menu{
	border-right: 1px solid black;
	padding: 0px;
	height: 100%;
}

.sub-menu span{
	font-size: 13px;
}

#varOptions{
	overflow-y: scroll;
}

#datepickerB , #datepickerE {
	width: 200px;
	display: inline-block;
}

#done{
	display: block;
}

input[data-toggle] {
  display: none; 
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: salmon;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); 
}

.button-group.toggle li:not(first-child) {
  margin: 0 1.4rem;
}

.button-group.toggle li{
	width: 0px;
	display: inline-block;
}

.varnum{
    margin: 0 2.5rem;
    width: 75px;
}

.loginmargin{
	margin-top: 100px;
}

.wwvergeten{
	margin-top: -40px;
}	

.textcenter{
	text-align: center;
}


